<!DOCTYPE html>
<html>
	<!-- 网页的内容在这个文件里改, 颜色等样式在另一个里面改 -->
	<head>
		<meta charset="utf-8" />
		<title>Mugen 衬雨</title> <!-- 这里是网页的标题 -->
		<link rel="stylesheet" type="text/css" href="./css/card.css">
	</head>
	<body>
		<div id="app" class="app">
			<div class="left_view">
				<div class="logo">
					<h1 data-text="Mugen">
						Mugen
					</h1> 
					<h1 data-text="个人名片">
						个人名片
					</h1>
				</div>
				<div class="logo cn">
					<h1 data-text="CN: 衬雨">
						CN: 衬雨
					</h1> <!-- 这里要改的话需要把两个都改掉 -->
				</div>
				<p>&nbsp;</p> <!-- &nbsp;代表的是网页中的空格 P标签是我在CSS里定制好的 空格用于占位 -->
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>Rouza</p>
				<p>ローザ</p>
				<p>堕天の闇騎士</p>
			</div>
			<div class="right_view">
				<div class="characters">
					<!-- 替换立绘的话吧图片放进 img文件夹,可以直接把图片名字改成和我的一样的,也可以吧这句里的名字改成你的 -->
					<img src="./img/characters.png" alt="网太卡了,再等等吧" />
					<div class="text">ROUZA</div> <!-- 这块是角色立绘后面的装饰文字 -->
					<div class="text">ROUZA</div>
					<div class="text">ROUZA</div>
				</div>
			</div>
			<div class="band"></div>
		</div>
	</body>
</html>
